<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>Forget Password</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="images/logo.png">
	<!-- User styles -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/font.css">
	<link rel="stylesheet" type="text/css" href="css/signin.css">
</head>
<body>
	<div class="signin-container container-fluid pad0">
		<div class="col-md-5 pad0">
			<div class="s-banner">
				<img src="images/logo.png" class="logo-signin">
				<div class="signin-banner">
					<img src="images/banner-signin.png">
				</div>
				<div class="s-bannerDesc">
					<h5>OUT OF HOME (OOH) SITE AUDITS</h5>
					<p> 
						To replace paper based audits with android and iOS apps that automatically feeds audit results into the database
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-7 pad0">
			<div class="s-login">
				<div class="m-Logo">
					<img src="images/logo.png">
				</div>
				<div class="s-getstarted pull-right">
					<label>Don’t have an account?</label>
					<button class="btn btn-default register-btn">GET STARTED</button>
				</div>
				<div class="s-form">
					<div class="s-welcome">
						<h5>Forgot your password?</h5>
						<label>
							Enter your email address below and we’ll get you back on track.
						</label>
					</div>
					<form id="forgot-password-form">
						<div class="form-group">
							<label for="forgot-email">Email Address</label>
							<input type="email" class="form-control" name="email" id="email-field" placeholder="Enter your email address">
						</div>
						<button class="btn btn-default signin-btn">REQUEST RESET LINK</button>
						<label class="back-to text-center">
							<a href="">BACK TO SIGN IN</a>
						</label>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="js/vendor/jquery-3.1.0.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="http://c3173.r73.cf2.rackcdn.com/Kumulos.min.js"></script>
	<script src="js/api_scripts/forgot-password.js"></script>
</body>
</html>