<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>Landing</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="images/logo.png">
	
	<!-- CSS STYLES -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/font.css">
	<link rel="stylesheet" type="text/css" href="css/sidebar.css">
	<link rel="stylesheet" type="text/css" href="css/notification.css">
	<link rel="stylesheet" type="text/css" href="css/inspection.css">
	<link rel="stylesheet" type="text/css" href="css/button.css">
	<link rel="stylesheet" type="text/css" href="css/jobs.css">
	<link rel="stylesheet" type="text/css" href="css/signin.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.min.css" />
	<script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/leaflet.markercluster.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" href="http://Leaflet.markercluster-1.0.5/MarkerCluster.css"/>
	
	<style type="text/css">
		#map {
			height: 100%;
			overflow: static !important;
		}
		#buttons1{
			left: 268px;
			top: 100px;;
			position: absolute;
			z-index: 9999;
			background-color: rgba(0, 0, 0, 0.68);
			padding: 10px 20px;
			color: #fff;
			font-family: 'LatoRegular';
			font-size: 14px;
		}
		#buttons label{
			margin-right: 20px !important;
			margin-top: 4px;
		}
		#buttons1 label{
			margin-right: 20px !important;
			margin-top: 4px;
		}
		.marker-cluster-small {
			background-color: rgba(181, 226, 140, 0.6);
		}
		.marker-cluster-small div {
			background-color: rgba(110, 204, 57, 0.6);
		}

		.marker-cluster-medium {
			background-color: rgba(241, 211, 87, 0.6);
		}
		.marker-cluster-medium div {
			background-color: rgba(240, 194, 12, 0.6);
		}

		.marker-cluster-large {
			background-color: rgba(253, 156, 115, 0.6);
		}
		.marker-cluster-large div {
			background-color: rgba(241, 128, 23, 0.6);
		}

		/* IE 6-8 fallback colors */
		.leaflet-oldie .marker-cluster-small {
			background-color: rgb(181, 226, 140);
		}
		.leaflet-oldie .marker-cluster-small div {
			background-color: rgb(110, 204, 57);
		}

		.leaflet-oldie .marker-cluster-medium {
			background-color: rgb(241, 211, 87);
		}
		.leaflet-oldie .marker-cluster-medium div {
			background-color: rgb(240, 194, 12);
		}

		.leaflet-oldie .marker-cluster-large {
			background-color: rgb(253, 156, 115);
		}
		.leaflet-oldie .marker-cluster-large div {
			background-color: rgb(241, 128, 23);
		}

		.marker-cluster {
			background-clip: padding-box;
			border-radius: 20px;
		}
		.marker-cluster div {
			width: 30px;
			height: 30px;
			margin-left: 5px;
			margin-top: 5px;

			text-align: center;
			border-radius: 15px;
			font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
		}
		.marker-cluster span {
			line-height: 30px;
		}
		.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
			-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
			-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
			-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
			transition: transform 0.3s ease-out, opacity 0.3s ease-in;
		}
		.button-section{
			margin-bottom: 16px;
		}


		#custom-search-input {
			margin:0;
			margin-top: 10px;
			padding: 0;
		}

		#custom-search-input .search-query {
			padding-right: 3px;
			padding-right: 4px \9;
			padding-left: 3px;
			padding-left: 4px \9;
			/* IE7-8 doesn't have border-radius, so don't indent the padding */

			margin-bottom: 0;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}

		#custom-search-input button {
			border: 0;
			background: none;
			/** belows styles are working good */
			padding: 2px 5px;
			margin-top: 2px;
			position: relative;
			left: -28px;
			/* IE7-8 doesn't have border-radius, so don't indent the padding */
			margin-bottom: 0;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			color: #000;
		}

		.search-query:focus + button {
			z-index: 3;   
		}
		.search-section{
			width: 25%;
		}
		.open>.dropdown-menu {
			display: block;
			max-height: 200px !important;
			overflow: scroll;
		}
		.daterangepicker{
			z-index: 10000 !important;
		}

	</style>

</head>
<body>
	<div class="overflow-scroll">
		<!-- Background overlay -->
		<div class="black-opc hide"></div>

		<!-- Fixed header -->
		<section class="navbar navbar-default navbar-fixed-top" id="header">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<label class="hamburger-menu">
						<img src="images/hamburger.png">
					</label>
					<a class="navbar-brand" href="#">
						<span class="enterprise-logo">
							<img src="images/logo.png">
						</span>
					</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div class="dropdown">
								<div class="profile-dropdown" data-toggle="dropdown">
									<div class="profile-desc">
										<h5>Admin</h5>
									</div>
									<img src="images/dropdown.png" class="dropdown-img">
								</div>
								<div class="notification-popup header-notification profile-popup dropdown-menu">
									<div class="notification-area">
										<div class="n-desc">
											<div class="a-profile">
												<a href="">Sign Out</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		
		<!-- main wrapper -->
		<section id="main-wrapper">
			<!-- sidebar -->
			<div id="sidebar">
				<div class="sidebar-list text-left">
					<ul class="list-unstyled">
						<li>
							<a href="/inspection-landing">
								<img src="images/sidebar/inspection.png" alt="home">
								<label>inspection</label>
							</a>
						</li>
						<li>
							<a href="/jobs-landing">
								<img src="images/sidebar/jobs.png" alt="chat">
								<label>jobs</label>
							</a>
						</li>
						<li class="active">
							<a href="/maps-view">
								<img src="images/sidebar/maps.png" alt="contact">
								<label>Maps View</label>
							</a>
						</li>
						<li>
							<a href="/user-landing">
								<img src="images/sidebar/user.png" alt="profile">
								<label>Users</label>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</section>
	<div class="container-fluid" id="wrapper-container">
		<div id="buttons1">
			<div class="button-section pull-right text-center search-section">
				<input type="text" class="form-control" id="search-area" placeholder="Search by name / OISA Data">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" id="search-job-by-name">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
					<button class="btn btn-default" type="button" id="clear-search">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</span>
			</div>
			<div class="button-section">
				<select id="jobtype-filter" multiple>
				</select>
				<div class="btn-group">
					<a class="btn dropdown-toggle btn-primary filter-dropdown maptype-dropdown" data-toggle="dropdown" href="#" data-type="maptype">
						<label class="drop-text">Map Type</label>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="active" data-value=""><a href="#">Basic</a></li>
						<li data-value="Clustered"><a href="#">Clustered</a></li>
						<!-- dropdown menu links -->
					</ul>
				</div>
				<select id="inspectionid-filter" multiple>
				</select>
				<select id="state-filter" multiple>
				</select>
				<select id="postalcode-filter" multiple>
				</select>
				<select id="status-filter" multiple>
				</select>

			</div>

			<div class="button-section">
				<select id="contractor-filter" multiple>
				</select>
				<select id="campaign-filter" multiple>
				</select>
				
				<select id="errors-filter" multiple>
				</select>
				<div class="btn-group">
					<div class="form-group">
						<label for="daterange">Date Range:</label>
						<input type="text" class="form-control" name="daterange" id="daterange">
					</div>
				</div>
			</div>
		</div>
		<div id="map" style="position: absolute;width: 100%;"></div>
		<div id="campground_info"></div>
	</div>
	


	<script src="js/vendor/jquery-3.1.0.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
	<script type="text/javascript" src="http://c3173.r73.cf2.rackcdn.com/Kumulos.min.js"></script>
	<script src="js/vendor/underscore.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
	<script src="js/api_scripts/map_view.js"></script>
	<script src="js/api_scripts/user_data.js"></script>
	<script>
		
	</script>
</body>
</html>