<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>Signup</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="images/logo.png">
	
	<!-- User styles -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/font.css">
	<link rel="stylesheet" type="text/css" href="css/signin.css">
	
</head>
<body>
	<div class="signin-container container-fluid pad0">
		<div class="col-md-5 pad0">
			<div class="s-banner">
				<img src="images/logo.png" class="logo-signin">
				<div class="signin-banner">
					<img src="images/banner-signin.png">
				</div>
				<div class="s-bannerDesc">
					<h5>OUT OF HOME (OOH) SITE AUDITS</h5>
					<p> 
						To replace paper based audits with android and iOS apps that automatically feeds audit results into the database
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-7 pad0">
			<div class="s-signup">
				<div class="m-Logo">
					<img src="images/logo.png">
				</div>
				<div class="s-getstarted pull-right">
					<label>Have an account?</label>
					<a href="/signin" class="btn btn-default register-btn">SIGN IN</a>
				</div>
				<div class="s-form">
					<div class="s-welcome">
						<h5>Get started with OIS</h5>
						<label>Enter your sign up details below:</label>
					</div>
					<form id="signup-form">
						<div class="form-group ">
							<label for="firstname-field">User Name</label>
							<input type="text" class="form-control" placeholder="Enter first name" name="username" id="username-field">
						</div>
						<div class="form-group ">
							<label for="email-field">Email Id</label>
							<input type="email" class="form-control" placeholder="Enter your email address" name="email" id="email-field">
						</div>
						<div class="form-group ">
							<label for="password-field">Password</label>
							<input type="password" class="form-control" placeholder="Enter your password" name="password" id="password-field">
						</div>
						<div class="form-group">
							<label for="password1-field">Confirm Password</label>
							<input type="password" class="form-control" placeholder="Enter your password again" name="password1" id="password1-field">
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="terms" id="signup-terms">I Agree with the<a href=""> Terms and Conditions.</a>
							</label>
							
						</div>
						<div class="error-display"></div>
						<button class="btn btn-default signin-btn">SIGN UP</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="http://c3173.r73.cf2.rackcdn.com/Kumulos.min.js"></script>
	<script src="js/vendor/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.validate.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>

	<script src="js/api_scripts/signup.js"></script>
</body>
</html>