<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>Landing</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="images/logo.png">
	
	<!-- CSS STYLES -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/selectize.css" >
	<link rel="stylesheet" type="text/css" href="css/font.css">
	<link rel="stylesheet" type="text/css" href="css/sidebar.css">
	<link rel="stylesheet" type="text/css" href="css/notification.css">
	<link rel="stylesheet" type="text/css" href="css/inspection.css">
	<link rel="stylesheet" type="text/css" href="css/jobs.css">
	<link rel="stylesheet" type="text/css" href="css/selectize.css">
	<link rel="stylesheet" type="text/css" href="css/group-modal.css">
	<link rel="stylesheet" type="text/css" href="css/profile.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">

</head>
<body>
	<div class="overflow-scroll">
		<!-- Background overlay -->
		<div class="black-opc hide"></div>

		<!-- Fixed header -->
		<section class="navbar navbar-default navbar-fixed-top" id="header">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<label class="hamburger-menu">
						<img src="images/hamburger.png">
					</label>
					<a class="navbar-brand" href="#">
						<span class="enterprise-logo">
							<img src="images/logo.png">
						</span>
						<!--<span class="enterprise-name">
							Outdoor inspection Services Group
							<span class="enterprise-tagline">
							Outdoor inspection Services Group
							</span>
						</span>-->
					</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div class="dropdown">
								<div class="profile-dropdown" data-toggle="dropdown">
									<div class="profile-desc">
										<h5>Admin</h5>
									</div>
									<img src="images/dropdown.png" class="dropdown-img">
								</div>
								<div class="notification-popup header-notification profile-popup dropdown-menu">
									<div class="notification-area">
										<div class="n-desc">
											<div class="a-profile">
												<a href="">Sign Out</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		
		<!-- main wrapper -->
		<section id="main-wrapper">
			<!-- sidebar -->
			<div id="sidebar">
				<div class="sidebar-list text-left">
					<ul class="list-unstyled">
						<li>
							<a href="/new-inspection">
								<img src="images/sidebar/inspection.png" alt="home">
								<label>inspection</label>
							</a>
						</li>
						<li class="active">
							<a href="/jobs-landing">
								<img src="images/sidebar/jobs.png" alt="chat">
								<label>jobs</label>
							</a>
						</li>
						<li>
							
							<a href="/maps-view">
								<img src="images/sidebar/maps.png" alt="contact">
								<label>Maps View</label>
							</a>
						</li>
						<li>
							<a href="/user-landing">
								<img src="images/sidebar/user.png" alt="profile">
								<label>Users</label>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- main wrapper -->
			<div class="container-fluid" id="wrapper-container">
				<div class="col-md-12 mpad0">
					<div class="col-md-12 viewList">
						<div class="dd-data">
							<div class="view-data">
								<h5>User List</h5>
							</div>
							<div class="input-group pull-right">
								<input type="text" class="form-control" id="search-area" placeholder="Search by name / OISA Data">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" id="search-job-by-name">
										<i class="fa fa-search" aria-hidden="true"></i>
									</button>
									<button class="btn btn-default" type="button" id="clear-search">
										<i class="fa fa-times" aria-hidden="true"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col-md-12 v-data" id="job-list">	
						</div>
						<nav class="text-center">
							<ul class="pagination">
								
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- add assigne popup -->
	<div class="modal fade createGroup-Modal a-dashboard profile-sharePopup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="container group-create">
					<div class="close-modal text-center" data-dismiss="modal">
						<img src="images/close-modal.png">
						<label>Close</label>
					</div>
					<h5>Share with</h5>
					<form>
						<div class="form-group">
							<label>Add Assigne</label>
							<select id="select-to" class="contacts"></select>
						</div>
						<div class="btn-option pull-right">
							<button class="btn btn-default cancel-btn">Cancel</button>
							<button class="btn btn-default create-btn">Assign</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/template" id="job-template">
		<div class="col-md-4">
			<div class="userData">
				<div class="u-left">
					<img src="images/user.png" alt="user">
				</div>
				<div class="u-right" data-user-id="<%=id%>">
					<h5><%=name%></h5>
					<!-- <label></label> -->
					<span><%=email%></span>
					<label>Completed Jobs : <%=cmptd_jobs_count%></label>
					{{!-- <label class="assigne-no">
						No of Assigne: <span class="assignee-count"><%=count%></span>
					</label> --}}
				</div>
				<div class="remove-user" data-toggle="confirmation" data-popout="true">
				<img src="images/remove.png">
				</div>
			</div>
		</div>
	</script>
	<script type="text/template" id="pagination-template">
		<li class="first-element" data-action="first"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
		<li class="previous-element"><a href="#" aria-label="Previous" data-action="previous"><span aria-hidden="true">«</span></a></li>
		<input class="hide" type="text" readonly="readonly" data-max-page="<%=items.length%>"/>
		<%_.each(items, function(item) {%>
		<%if(item.index ==0){%>
		<li class="pagination-element active" data-index="<%=item.index%>">
			<%}else{%>
			<%if(item.is_hidden){%>
			<li class="pagination-element hide" data-index="<%=item.index%>">
				<%}else{%>
				<li class="pagination-element" data-index="<%=item.index%>">
					<%}}%>
					<a href="#"><%=item.label%></a>
				</li>
				<%})%>
				<li class="next-element"><a href="#" aria-label="Next" data-action="next"><span aria-hidden="true">»</span></a></li>
				<li class="last-element" data-action="last"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
			</script>
			<script src="js/vendor/jquery-3.1.0.min.js"></script>
			<script src="js/vendor/bootstrap.min.js"></script>
			<script src="js/bootstrap-confirmation.js"></script>
			<script src="js/vendor/selectize.js"></script>
			<script src="js/scripts.js"></script>
			<script type="text/javascript" src="http://c3173.r73.cf2.rackcdn.com/Kumulos.min.js"></script>
			<script src="js/vendor/underscore.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
			<script src="js/api_scripts/user-landing.js"></script>
			<script src="js/api_scripts/user_data.js"></script>
		</script>
		<style type="text/css">
			.remove-user img{
				height: 18px;
				width: 18px;
				top: 20px;
			}
		</style>

	</body>
	</html>