<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>Signin</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="images/logo.png">
	<!-- User styles -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/font.css">
	<link rel="stylesheet" type="text/css" href="css/signin.css">
</head>
<body>
	<div class="signin-container container-fluid pad0">
		<div class="col-md-5 pad0">
			<div class="s-banner">
				<img src="images/logo.png" class="logo-signin">
				<div class="signin-banner">
					<img src="images/banner-signin.png">
				</div>
				<div class="s-bannerDesc">
					<h5>Email Verification</h5>
					<p> 
						To replace paper based audits with android and iOS apps that automatically feeds audit results into the database
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-7 pad0">
			<div class="s-login">
				<div class="m-Logo">
					<img src="images/logo.png">
				</div>
				<div class="s-getstarted pull-right">
					<label>Don’t have an account? <span>-  It’s Free</span></label>
					<a class="btn btn-default register-btn" href="/signup">GET STARTED</a>
				</div>
				<div class="s-form">
					<div class="s-welcome hide" id="email-verification-success">
						<h5>Email id has been verified successfully</h5>
						<label></label>
					</div>
					<div class="s-welcome hide" id="email-verification-error">
						<h5>Invalid Token</h5>
						<label><a href="/resend-email-verification">resend mail</a></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	console.log( "{{title}}")
	</script>
	<script type="text/javascript" src="http://c3173.r73.cf2.rackcdn.com/Kumulos.min.js"></script>

	<script src="js/vendor/jquery-3.1.0.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.validate.min.js"></script>
	<script src="js/api_scripts/verify-email.js"></script>

			<!-- <script type="text/javascript">
				var pagename = 'signin';
			</script> -->
			<script src="js/scripts.js"></script>
			
	</body>
	</html>